// Show Apartment
.show_container_apartments {
    display: flex;
    padding: 30px;
    border-radius: 15px;
    background-color: $bg-color;
    box-shadow: 0px 7px 15px -4px #000000;
    .left_component_show {
        width: 50%;
        min-height: 100px;
        padding-right: 20px;
        h3 {
            color: $title-color;
        }
        h4 {
            color: $title-color;
        }
        span {
            color: $title-color;
        }
        i {
            color: $title-color;
        }
        ul {
            list-style: none;
            padding-left: 20px;
            li {
                padding: 7px 0;
            }
        }
        .sponsorship_button {
            display: inline-block;
            text-decoration: none;
            height: 40px;
            line-height: 35px;
            margin-top: 15px;
            border-radius: 10px;
            padding: 0 20px;
            color: #fff;
            border: 2px solid $link-color;
            background-color: $link-color;
            transition: all 0.2s ease-in;
            &:hover {
                box-shadow: 0px 0px 15px -6px #000000;
            }
        }
        .upgrade_button {
            display: inline-block;
            text-decoration: none;
            height: 40px;
            line-height: 35px;
            border-radius: 10px;
            padding: 0 20px;
            color: #fff;
            border: 2px solid $title-color;
            background-color: $title-color;
            transition: all 0.2s ease-in;
            &:hover {
                box-shadow: 0px 0px 15px -6px #000000;
            }
        }
        .delete_button {
            display: inline-block;
            text-decoration: none;
            height: 40px;
            line-height: 35px;
            border-radius: 10px;
            padding: 0 20px;
            color: #fff;
            border: 2px solid red;
            background-color: red;
            transition: all 0.2s ease-in;
            &:hover {
                box-shadow: 0px 0px 15px -6px #000000;
            }
        }
    }
    .right_component_show {
        width: 50%;
        min-height: 500px;
        img {
            border-radius: 15px;
            margin-bottom: 15px;
        }
        h4 {
            color: $title-color;
        }
        ul {
            list-style: none;
            // padding-left: 20px;
            li {
                padding: 7px 0;
            }
        }
    }
}